{% extends "layout.html" %}
{% block content %}
<div class="container design-box">

    <div class="row mt-5">
        {% for comment in comments %}
        <div class="col-md-2 col-lg-2">
            <img src="{{ url_for('static',filename='pictures/')
                }}{{ comment.commenter.image_file }}"
                class="rounded-circle comment-img" />
            <p class="text-secondary" id="comment-timestamp">
                {{comment.timestamp}}
            </p>
        </div>
        <div class="col-md-10 col-lg-10">
            <p>
                <a class="float-left" style="color: brown"
                    href="{{url_for('main.user',username=comment.commenter.username)}}"><strong><i>{{comment.commenter.username}}</i></strong></a>
            </p>
            <div class="clearfix"></div>
            <p>{{comment.body}}
        </div>
        {% endfor %}
    </div>
    <hr>
    <form action="" method="POST" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>Post your comment:</label>
            {% if form.body.errors %}
            {{ form.body(class='form-control is-invalid') }}
            <div class="invalid-feedback">
                {% for error in form.body.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.body(class='form-control' , placeholder='comment..') }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class = "btn btn-outline-primary mr-auto") }}
        </div>
    </form>
</div>
{% endblock %}