{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3><span> <img class="rounded-circle account-img"
                        src="{{image_file}}">
                </span> </h3>
            <h3>{{user.username}}</h3>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        </div>
        <div class="col-md-3">
            <h3 style="margin-left: 1em">{{ user.followers.count() }}</h3><br>
            <p><b>followers</b></p>
        </div>
        <div class="col-md-3">
            <h3 style="margin-left: 1em">{{user.followed.count()}}</h3><br>
            <p><b>following</b></p>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    {% if user == current_user %}
    <p><a href="{{ url_for('main.account') }}">Edit your profile</a></p>
    {% elif not current_user.is_following(user)%}
    <p><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a>
    </p>
    {% else %}
    <p><a
            href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a>
    </p>
    {% endif %}
    {% else %}
    <div class="alert alert-info" role="alert">
        <strong>You must log in to Follow/Unfollow this user.</strong>
    </div>
    {% endif %}
</div>
<div class="container">
    <h3 class="ml-2">Posts:</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 card ml-2">
            <img src="{{ url_for('static',filename='pictures/')}}{{post.image_file}}"
                alt="" class="post-image">
            <p>{{ post.caption }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}