*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6{
    color: #444444;
}

.new-post-user{
  margin-top:10em;
}
.bg-steel{
    background-color: #f42d8b;
}
.site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 1.5em;
  }

  /* base user styles */
.post-left{
  text-align: center;
  color: #fff;
  margin-top: 4em
}
.post-left p{
  padding: 20px 20px 0;
}
.post-right{
  border:none;
  background: #f8f8f8;
  padding-top:50px;
}
.new-post-page{
  background: #fff;
    border:1px solid #e6e6e6;
    box-shadow: 20px 20px 50px 10px pink;
    margin: 4em 4em;
    padding:40px;
}
.postpage-img{
  height: 10em;
  width: 10em;
}
.post-image{
  height: 300px;
  width: 100%;
  margin: 10px;
}
.post-content{
  margin: 20px;
}
.feed-image{
  height: 300px;
  width: 300px;
}


.post-feed-header {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  border-radius: 20px;
}
.post-feed-header h1{
  color: #cbd5db;
  margin-bottom: 5px;
}
.lead{
  color: #cbd5db;
}
#gallery{
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .account-img{
    height: 100px;
    width: 100px;
  }
}

.like:hover{
  text-decoration: none
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

