* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
a:hover{
  text-decoration: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.new-post-user {
  margin-top: 10em;
}
.bg-steel {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.site-header .navbar-nav .nav-link {
  color: white;
  transition: all 0.5s;
}

.site-header .navbar-nav .nav-link:hover {
  color: #2b6922;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 1.5em;
}
/* base user styles */
.post-left {
  text-align: center;
  color: #fff;
  margin-top: 4em;
}
.post-left p {
  padding: 20px 20px 0;
}
.post-right {
  border: none;
  background: #f8f8f8;
  padding-top: 50px;
}
.new-post-page {
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 20px 20px 50px 10px pink;
  margin: 4em 4em;
  padding: 40px;
}
.postpage-img {
  height: 10em;
  width: 10em;
}
.post-image {
  height: 15em;
  width: 100%;
  margin: 10px;
}
.post-content {
  margin: 20px;
}
.feed-image {
  height: 300px;
  width: 300px;
}

.post-feed-header {
  background: #c33764;
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  );
  background: linear-gradient(to right, #1d2671, #c33764);
  border-radius: 20px;
}
.post-feed-header h1 {
  color: white;
  margin-bottom: 5px;
}
.lead {
  color: white;
}
#gallery {
  margin-top: 20px;
}
.form-control:focus {
  border-color: #ff80ff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}
@media only screen and (max-width: 600px) {
  .account-img {
    height: 100px;
    width: 100px;
  }
  .edit-profile-button {
    margin-left: 0 !important;
  }
}

a:hover {
  text-decoration: none;
}
.design-box {
  border: 5px solid white;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  box-shadow: 20px 20px 50px 10px pink;
}
.comment-img {
  height: 5em;
  width: 5em;
  margin-right: 20px;
  margin-bottom: 16px;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .new-post-page {
    margin: 0;
    padding: 0;
  }
  .postpage-img {
    width: 5em;
    height: 5em;
  }
  .post-left h1 {
    font-size: 1.5em;
  }
  .error h1 {
    font-size: 1.5em;
  }
  .media-body {
    margin-top: 5px;
  }
}
 a {
  text-decoration: none;
}
