{% extends "layout.html" %}
{% block content %}
<div class="col-md-4">
    {% for post in posts %}
    <img src="{{ url_for('static',filename='pictures/')}}{{post.image_file}}"
        class="post-image">
    {% if post.user_id !=current_user.id %}
    {% if current_user.has_liked_post(post) %}
    <a
        href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
    {% else %}
    <a
        href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
    {% endif %}
    {{ post.likes.count() }} likes
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}